<h2>Home</h2>



<br/>
<%= def destroy_user_session_path
      # code here
    end
    link_to('Logout', destroy_user_session_path, method: :delete) %>
<div class="text-center">

    <h3>
      Welcome at Dr Doggy APP

    </h3>
 </div>