<% if @doctors.blank? %>
  <p>There are not any doctors currently in the system.</p>
<% else %>
  <p>These are the current doctors </p>

  <ul id = "doctors">
    <% @doctors.each do |c| %>
      <li><%= link_to c.last_name, {:action => 'show', :id => c.id} -%></li>
    <% end %>
  </ul>

<% end %>
<p><%= link_to "Add new Doctor", {:action => 'new' }%></p>