<h1>Doctors#destroy</h1>
<p>Find me in app/views/doctors/destroy.html.erb</p>



      <div class="col-md-3">
        <%= link_to 'Log out', '/destroy_session',class:  'btn btn-block btn-white' %>
      </div>
