<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @city.name %>
</p>

<%= def edit_city_path
      # code here
    end
    link_to 'Edit âœï¸', edit_city_path %> |
<%= def cities_path
      # code here
    end
    link_to 'ðŸ”™Back', cities_path %>