.container
  %footer.footer
    %small
      The
      %a{:href => "/"} DrDoggy
      by
      %a{:href => "/"} Sb0009
    %nav
      %ul
        %li= link_to "About", root_path
        %li= link_to "Contact", root_path
        %li
          %a{:href => "/"} News